body {
    font-family: Calibri, Arial;
    font-size: 1em;
}

table.defectdata {
    border-collapse:collapse;
    border: 1px solid black;
}

table.defectdata th {
    border-collapse:collapse;
    border: 1px solid black;
    color: white;
    background-color: dodgerblue;
}

table.defectdata td, table.defectdata th {
    border-collapse:collapse;
    border: 1px solid black;
    padding: 2px;
}

table.defectdata td.text {
    text-align: left;
}

table.defectdata td.numeric {
    text-align: right;
}

div.filter {
    padding: 3px;
    border: 1px solid dodgerblue;
    background-color: lightsteelblue;
    margin-bottom: 5px;
}

span.filter-label {
    margin-left: 10px;
    margin-right: 5px;
}

textarea.free-text {
    width: 100%;
    height: 200px;
}

input.jira-id {
    text-transform: uppercase;
}

div.error-message, div.success-message {
    padding: 3px;
    color: black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.error-message {
    border: 1px solid red;
    background-color: pink;
}

div.success-message {
    border: 1px solid green;
    background-color: #AAFFAA;
}

div.header {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

a.header-button {
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}