@model DevStats.Models.Jira.ApiTestModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Jira API Tester";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="apiUrl">Select a service:</label>
        @Html.DropDownList("apiUrl", Model.ApiRoots, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="jiraId">Jira Id:</label>
        @Html.TextBox("jiraId", "", new { @class = "form-control jira-id" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
<br />

@if (Model.PostResult != null)
{
    if (Model.PostResult.WasSuccessful)
    {
        <div class="alert alert-success alert-dismissible"><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>Success: @Model.PostResult.Response</div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible"><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>Failed: @Model.PostResult.Response</div>
    }
}
