@model DevStats.Models.Jira.ApiTestModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Jira API Tester";
}

@using (Html.BeginForm())
{
    <span>Select a service</span>
    <br />
    @Html.DropDownList("apiUrl", Model.ApiRoots)
    <br />
    <span>Enter a Jira Id</span>
    <br />
    @Html.TextBox("jiraId", "", new { @class = "jira-id" })
    <br />
    <span>Enter Json here</span>
    <br />
    @Html.TextArea("package", "", new { @class = "free-text" })
    <br />
    <button type="submit">Submit</button>
}

@if (Model.PostResult != null)
{
    if (Model.PostResult.WasSuccessful)
    {
        <div class="success-message">Success</div>
    }
    else
    {
        <div class="error-message">Failed</div>
    }
    <div>
        @Model.PostResult.Response
    </div>
}