@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Jira Sprint Planner";
}

<div class="filter">
    <span class="filter-label">Team:</span>
    <select id="ddlTeam">
        <option value="HR">HR</option>
        <option value="Octopus">Octopus</option>
        <option value="Payroll">Payroll</option>
    </select>
    <span class="filter-label">Sprints:</span>
    <select id="ddlSprints"></select>
    <button id="btnRefresh" onclick="javascript:onSprintChange()">Refresh Stories</button>
</div>

<h1>Sprint Stories</h1>
<div id="sprint-content"></div>
<h1>Backlog Stories</h1>
<div id="refined-items"></div>

<script src="../Scripts/SprintPlanner.js"></script>