@model DevStats.Models.Account.ResetPasswordRequestModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Password Reset";
}

<section id="resetForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Password Reset</h1>
        <span>Please enter your email address below</span>
        @Html.ValidationSummary(true)
        <div>
            @Html.EditorFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            <div>
                <input type="submit" value="Send Reset Email" class="btn btn-default" />
            </div>
        </div>
    }
</section>