@model DevStats.Models.Account.ResetPasswordRequestModel

@{
    Layout = "~/Views/Shared/Shared.cshtml";
    Page.Title = "Password Reset";
}

<section id="resetForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Password Reset</h1>
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="Email">Please enter your email address:</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <input type="submit" value="Send Reset Email" class="btn btn-primary" />
    }
</section>